{# Se hereda la plantilla principal. #}
{% extends 'base.html.twig' %}

{# Sobreescribimos el bloque del título del fichero base, añadimos también contenido propio
   de esta forma se puede observar como obtenemos el título de la plantilla y le añadimos lo
   que deseemos. Para ello utilizamos la funcion parent() dentro de llaves.
#}
{% block title %}{{ parent() }} | Bienvenido{% endblock %}

{#  Sobreescribimos la plantilla en el bloque body.
    Esto substitye el body generadn en este fichero twig por el existente en la plantilla base.
#}
{% block body %}

    {# Mediante la función dump sin argumentos, podremos imprimir en la página web todas
       las variables que hemos utilizado en ella, con su tipología y nombre.

       {{ dump() }}
    #}

    <div class="container">

        <p>
            Me llamo Octavio, tengo 29 años, soy Técnico Superior en Informática y Telecomunicaciones y también Técnico
            Superior en Automatización y Robótica Industrial.
        </p>

        <p>
            Durante estos años he estado desarrollando mi carrera profesional en el sector industrial, realizando
            trabajos de electromecánico y/o maquinista industrial dirigiendo líneas de producción, controlando la
            productividad y eficiencia durante la jornada y verificando el cumplimiento de los estándares de calidad
            exigidos.
        </p>

        <p>
            Recientemente, decidí cambiar de sector y elegí el de la programación, sector en el cual me siento cómodo
            aprendiendo y creciendo profesionalmente y personalmente. Actualmente estoy trabajando como Junior Developer
            en RPA y estudiando de forma constante nuevas tecnologías como Symfony, Twig y otras.
        </p>

        <ul>
            <h4>Mis puntos fuertes:</h4>
            <li>🔰 Compañerismo.</li>
            <li>🔰 Actitud.</li>
            <li>🔰 Autoexigencia.</li>
        </ul>

        <ul>
            <h4>Mis puntos débiles:</h4>
            <li>❌ Autoexigencia.</li>
            <li>❌ Competitividad (conmigo mismo).</li>
            <li>❌ Perfeccionismo.</li>
        </ul>


    </div>

    {# Fin del cuerpo. #}
{% endblock %}