{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h2 class="titulo-h2">Habilidades de Desarrollo</h2>

        <div class="grid-container">

            {% for lenguaje in lenguaje %}
                <div class="card" style="width: 14rem;">
                    <img src="{{ lenguaje.imagen }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <hr>
                        <p class="card-text"> {{ lenguaje.nombre }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
        <!-- frameworks -->

        <h2 class="titulo-h2">Librerias y Frameworks</h2>

        <div class="grid-container">

            {% for framework in frameworks %}
                <div class="card" style="width: 14rem;">
                    <img src="{{ framework.imagen }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <hr>
                        <p class="card-text"> {{ framework.nombre }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}