{% extends 'base.html.twig' %}

{% block body %}



<h2>Lenguajes de programaci칩n m치s utilizados en Aug 2022:</h2>

{# Se crea un listado desordenado mediante UL. #}
<ul>
    {# Se crea un bucle FOR para recorrer el array enviado en la funci칩n homepage. #}
    {% for lenguajes in lenguajesProgram %}
        <li>
            {# Se imprimen los diferentes lenguajes de programaci칩n.#}
            {{ lenguajes.idioma | upper }} - {{ lenguajes.uso }}
        </li>
        {# Fin del bucle FOR. #}
    {% endfor %}
</ul>

{% endblock %}